{% extends "base.html" %}

{% block title %}Mon Voisin Artisan{% endblock %}

{% block content %}

<h1 style="font-size: 18px;">Plateforme pour artisans et particuliers, accessible en France et en Belgique</h1>

<div style="text-align: center; margin-bottom: 15px;">

    <div style="font-size: 28px; margin-bottom: 4px;">
        <img src="https://flagcdn.com/w40/fr.png" alt="France" style="width: 32px; vertical-align: middle;">
        🤝
        <img src="https://flagcdn.com/w40/fr.png" alt="France" style="width: 32px; vertical-align: middle;">
    </div>

    <div style="font-size: 28px;">
        <img src="https://flagcdn.com/w40/be.png" alt="Belgique" style="width: 32px; vertical-align: middle;">
        🤝
        <img src="https://flagcdn.com/w40/be.png" alt="Belgique" style="width: 32px; vertical-align: middle;">
    </div>

</div>
<p>
    Trouvez un artisan ou un entrepreneur pour petits ou gros travaux, coiffeur à domicile, déménagement...
    Recevez des demandes pour un chantier, un déménagement, une coupe à domicile...
</p>

<div class="cards">

    <div class="card">

        <h2>Vous êtes particulier</h2>


        <p>
            Décrivez votre projet, indiquez votre pays, ville ou votre code postal
            et sélectionnez l'activité recherchée. C'est entièrement GRATUIT !
            Les artisans ou entrepreneurs qualifiés, présents  sur le site ont tous une assurance 
            professionnelle, ce qui vous protège de tout problème éventuels.
        </p>

        <a href="/demande" class="btn">
            Déposer une demande
        </a>

    </div>


    <div class="card">

        <h2>Vous êtes un artisan ou un entrepreneur, services à domicile ou à distance</h2>

        <p>
            Que vous soyez en France ou en Belgique, c'est ici !
            Présentez votre entreprise et choisissez les activités,
            votre pays, les régions dans lesquelles vous souhaitez travailler.
            Téléchargez l'appli sur les ... de votre navigateur.
            
        </p>

        <p>
            Vous recevrez uniquement les demandes correspondant
            à vos critères.
        </p>

        <a href="/inscription" class="btn">
            Inscrire mon entreprise
        </a>

    </div>

</div>


<div class="section">

    <h2>Comment ça fonctionne ?</h2>

    <p>
        Téléchargez l'appli sur les ... de votre navigateur.
        Le particulier publie sa demande GRATUITEMENT en indiquant 
        les travaux ou services souhaités, son secteur géographique et 
        ses coordonnées. Les artisans ou entrepreneurs qualifié sont notifiés 
        et répondent via la messagerie de l'application. Vous avez alors accès à leur profil.
    
        
    </p>

    <p>
        Les artisans reçoivent UNIQUEMENT les demandes correspondant
        aux activités et aux régions qu'ils ont sélectionnées.
        Ils répondent aux demandes via la messagerie de l'application. 
        Un service de devis et facturation est inclus. 
        Vos informations d'entreprise sont directement intégrés à votre devis.
        Vous pouvez par la suite, générer une facture à partir de votre devis.
        Aucun frais supplémentaires. Tout est compris !
        
        
    </p>

    <p>
        Pour les artisans, 15 jours d'essai gratuit SANS CARTE BANCAIRE.
        Ensuite, 24 € TTC pour un mois, sans engagement, pas d'abonnement
        ni de prélèvement. Vous êtes averti lorsque vous devez renouveler
        le paiement pour un mois d'utilisation. Donc si vous êtes en vacances
        ou que vous n'avez pas besoin de demandes pour une période, vous ne renouvelez 
        pas votre accès. 
        
    </p>

</div>


{% endblock %}


